In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('data_city/data_tr_city.csv')
test = pd.read_csv('data_city/data_ts_city.csv')
sample = pd.read_csv('data_city/sample_city.csv')

In [4]:
train.head()

              datetime  êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨
0  2017-01-01 01:00:00                138.0
1  2017-01-01 02:00:00                237.0
2  2017-01-01 03:00:00                128.0
3  2017-01-01 04:00:00                 14.0
4  2017-01-01 05:00:00                 11.0

In [5]:
test.head()

              datetime  êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨
0  2021-01-01 00:00:00                106.0
1  2021-01-01 01:00:00                184.0
2  2021-01-01 02:00:00                277.0
3  2021-01-01 03:00:00                197.0
4  2021-01-01 04:00:00                 72.0

In [6]:
sample.head(3)

,datetime,h0,h1,h2,h3,h4,h5,h6,h7,h8,...,h326,h327,h328,h329,h330,h331,h332,h333,h334,h335
0,2021-01-01 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-01 01:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-01 02:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35063 entries, 0 to 35062
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             35063 non-null  object
 1   êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨  35055 non-null  float64
dtypes: float64(1), object(1)
memory usage: 548.0+ KB

### ë°ì´í„° ì „ì²˜ë¦¬

#### ê²°ì¸¡ì¹˜ ì²˜ë¦¬

##### Spline Interpolation (ìŠ¤í”Œë¼ì¸ ë³´ê°„ë²•)

ì„ í˜• ë³´ê°„ë²•ë³´ë‹¤ ë³´ê°„ ì˜¤ì°¨ê°€ ë” ì‘ê³ , ê³ ì°¨í•­ì˜ ë‹¤í•­ì‹ ë³´ê°„ë²•ë³´ë‹¤ëŠ” ë³´ê°„ í•¨ìˆ˜ê°€ ë¶€ë“œëŸ½ê³  í‰ê°€í•˜ê¸° ì‰¬ì›€

In [31]:
from scipy import interpolate

In [36]:
train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'] = train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'].interpolate(kind = 'quadratic').values

In [38]:
train.isnull().sum()

datetime               0
êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨    0
dtype: int64

#### ì´ìƒì¹˜ ì²˜ë¦¬

ğŸ”” ê°’ì´ ë„ˆë¬´ í¬ê³ , ì‘ì€ ë°ì´í„°ë“¤ì„ Noiseë¡œ ë³¼ ê²ƒì¸ì§€?

In [10]:
train[train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'] == train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'].min()]

                  datetime  êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨
17558  2019-01-02 15:00:00           -6093821.0

In [11]:
train[train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'] == train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'].max()]

                  datetime  êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨
11995  2018-05-15 20:00:00            4720655.0

In [39]:
train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'].mean()

123.73910864301399

In [40]:
mu, std = train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'].mean(), train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'].std()

print("í‰ê· :", mu, "í‘œì¤€í¸ì°¨:", std)
print("ì´ìƒì¹˜ ê°¯ìˆ˜:", len(train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'][( train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨']>mu+3*std)|( train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨']<mu-3*std)]))

í‰ê· : 123.73910864301399 í‘œì¤€í¸ì°¨: 43419.75887907574
ì´ìƒì¹˜ ê°¯ìˆ˜: 3

In [41]:
## ì´ìƒì¹˜ ë°ì´í„° ë‚ ì§œ í™•ì¸
train.datetime[train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨'][(train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨']>mu+3*std)|(train['êµ¬ë¯¸ í˜ì‹ ë„ì‹œë°°ìˆ˜ì§€ ìœ ì¶œìœ ëŸ‰ ì ì‚°ì°¨']<mu-3*std)].index]

2127     2017-03-30 16:00:00
11995    2018-05-15 20:00:00
17558    2019-01-02 15:00:00
Name: datetime, dtype: object